

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  animation: fadeIn 1s ease-in-out;
  background-color: rgb(37, 3, 59);
  color: rgb(0, 0, 0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

header nav a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: #4CAF50;
}

@media (max-width: 768px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header nav a {
    margin-bottom: 10px;
  }
}

@media (min-width: 769px) {
  header nav {
    display: flex;
    justify-content: space-around;
  }
}
